# 데이터 입출력

In [ ]:
#오늘부터는 준비된 데이터로 한다
# 엑셀 파일 쓰지 말자 -> 엄청 느리다
# 가급적이면 csv 파일로 받자

In [ ]:
# \ 는 메타 문자 앞에서 메타 문자의 기능을 해제하는 기능을 한다

In [ ]:
import os

In [ ]:
os.getcwd() #현재 directory를 보여줌

In [ ]:
os.chdir('d:\\python\\PythonBasic-main\\data') #directory를 변경, \\를 두개씩 써야함

In [ ]:
os.chdir(path='d:/python/PythonBasic-main/data') #이렇게 써도됨. 역슬러시 두번을 슬러쉬로, path는 안써도됨

In [ ]:
#이렇게 경로를 길게 쓰는 것을 절대 경로라 함.

In [ ]:
os.getcwd()

In [ ]:
os.chdir('d:\\python\\PythonBasic-main\\live')

In [ ]:
os.getcwd()

In [ ]:
os.getcwd()

In [ ]:
os.chdir('..') #상위 폴더로 이동

In [ ]:
os.getcwd()

In [ ]:
os.chdir('./data') #상대 경로 이용

In [ ]:
os.getcwd()

In [ ]:
# 껐다가 킴

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.chdir('../data')

In [ ]:
os.getcwd()

In [ ]:
os.listdir() #폴더에 있는 파일을 list해줌

In [ ]:
os.listdir('../code')

In [ ]:
files=os.listdir()

In [ ]:
files

In [ ]:
for file in files:
    if 'KBO' in file:
        print(file)

In [ ]:
for file in files:
    if '.xlsx' in file:
        print(file)

In [ ]:
[file for file in files if 'KBO' in file] #데이터 컴프리헨션

## 한글 인코딩의 이해

In [ ]:
#자연어 문자를 컴퓨터가 이해할 수 있는 코드로 변환하는 것을 인코딩이라함
#반대로 컴퓨터가 이해하는 코드를 자연어로 변환한 것을 디코딩

In [ ]:
#우리가 쓰는 window는 cp949가 기본이지만 python은 UTF-8이 기본이다

In [ ]:
file=open(file='test.txt', mode='w', encoding='UTF-8') #w 는 덮어쓰기

In [ ]:
for i in range(1,6):
    file.write(f'{i} 페이지 수집중\n')

In [ ]:
file.close()

In [ ]:
file=open(file='test.txt', mode='a', encoding='UTF-8') #a는 추가

In [ ]:
for i in range(11,15):
    file.write(f'{i} 페이지 수집중\n')

In [ ]:
file.close()

In [ ]:
file=open(file='test.txt', mode='r', encoding='UTF-8') #r은 읽기. w,a에서와 같은 encoding을 넣어야함

In [ ]:
text=file.read()

In [ ]:
text

In [ ]:
type(text) #우리가 읽을 수 있는 것은 type이 str이다

In [ ]:
text.encode(encoding='UTF-8') #컴퓨터가 읽을 수 있는 걸로 인코딩 , 앞의 b는 bytes를 의미

In [ ]:
file=open(file='test.txt', mode='rb') #rb는 바이너리 형태로 읽겠다

In [ ]:
text=file.read()

In [ ]:
text #위의 것과 거의 유사하게 나옴 \r : 캐리지 리컨(타자기 다쓰고 다시 쭉 처음으로 땡기는 것)

In [ ]:
type(text)

In [ ]:
text.decode(encoding='UTF-8') # 컴퓨터 코드 --> 사람이 읽는 코드로 바꿔줌

In [ ]:
file=open(file='test.txt', mode='rb').read()
file

In [ ]:
pip install chardet

In [ ]:
import chardet #문자 인코딩한 것을 확인하는
import numpy as np
import pandas as pd
import joblib

In [ ]:
os.listdir()

In [ ]:
df=pd.read_excel('KBO_Hitters_2021.xlsx') #한번에 하나의 시트만 불러올 수 있다.

In [ ]:
df

In [ ]:
df=pd.read_excel('KBO_Hitters_2021.xlsx', sheet_name=1) #두번째 시트를 불러옴

In [ ]:
df

In [ ]:
df=pd.read_excel('KBO_Hitters_2021.xlsx', sheet_name=1, skiprows=4) #위에 4줄은 건너 뛰어라

In [ ]:
df.to_excel('test.xlsx', index=None) #index=None은 인덱스를 추가하지 않는다.

In [ ]:
# 중간 생략된 부분을 보고 싶으면 P 163 참조

In [ ]:
df.head(10) #처음 10개를 보여줌

In [ ]:
df.tail(10) #마지막 10개를 보여줌

In [ ]:
df.sample() #랜덤하게 하나 보여줌

In [ ]:
df.sample(n=5, random_state=1) #5개의 값을 항상 동일하게 보여줌

### csv파일 입출력

In [ ]:
os.listdir()

In [ ]:
file='KBO_Hitters_2021.csv'

In [ ]:
df.pd.read_csv(file) #방식 문제로 읽어 들일 수 없음

In [ ]:
text=open(file=file, mode='rb').read()
text

In [ ]:
chardet.detect(text) #인코딩 방식 확인

In [ ]:
df=pd.read_csv(file, encoding='EUC-KR')
df

In [ ]:
df.shape[0]#행갯수 확인, 1넣으면 열개수

In [ ]:
df.index=range(1,df.shape[0]+1)
df.head()

### 압축 파일 입출력

In [ ]:
# 머신 러닝은 압축파일로만 저장 가능

In [ ]:
joblib.dump(value=df, filename='test.z') #dump 압축파일로 저장

In [ ]:
df1=joblib.load(filename='test.z') #load 압축 파일 불러들임

In [ ]:
df1

### 파일 지우기

In [ ]:
files=[file for file in os.listdir() if 'test' in file] # test 이름이 들어간 파일 출력

In [ ]:
files

In [ ]:
for file in files: #test란 이름이 들어간 파일을 삭제
    os.remove(file)

In [ ]:
os.listdir()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df['팀명']=='한화'

In [ ]:
df.loc[df['팀명']=='한화',:].sort_values(by=['홈런'], ascending=False).head()

In [ ]:
df.loc[(df['OPS']>=0.9) & (df['팀명']=='한화'),:]##OPS가 0.9가 이상이며 한화인 선수

## 데이터 전처리

In [ ]:
#GIGO : 쓰레기 넣으면 쓰레기 나온다
# 데이터 전처리 매우 중요(전체 프로젝트의 80%정도 시간이 걸린다)

In [ ]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path='../data')

In [ ]:
os.listdir()

In [ ]:
%time price=pd.read_excel('APT_Price_Seoul_2021.xlsx')

In [ ]:
price.info() #datatime 날짜 시간형(실수형) <-산술연산 가능, 년,월,일별 뽑을 수 있다.
#지번에 결측이 있다

In [ ]:
price.head()

In [ ]:
file='APT_Price_Seoul_2021.csv'

In [ ]:
text=open(file=file, mode='rb').read()

In [ ]:
text

In [ ]:
chardet.detect(text[:100])

In [ ]:
%time price=pd.read_csv(file,encoding='UTF-8') # 엑셀과 csv 불러오는 시간 차이가 많이 난다

In [ ]:
price.dtypes #거래일이 object인 것 처럼 들어옴(엑셀 파일은 datatime으로 들어옴) / 문자 -> 날짜형으로 바꿔주면 됨

In [ ]:
df=pd.read_csv(file, parse_dates=['거래일'], thousands=',') #P180에 있는 형식 5가지로 되어 있어야함

In [ ]:
df.dtypes

In [ ]:
price['지역코드'] #시리즈로 반환, 하나의 열을 선택할 때는 이렇게 쓸 수도 있다. 2개 이상의 경우에는 list로 써야함

In [ ]:
price[['아파트','지역코드', '거래일']] #2개 이상의 경우 list로 -> 결과는 데이터 프레임으로 출력

In [ ]:
price[:['거래일':'거래금액']] <- 슬라이스 못씀, 반드시 indexer가 있어야 쓸 수 있음

In [ ]:
price.loc[:,'거래일':'거래금액']

In [ ]:
price.dtypes

In [ ]:
price.dtypes==np.int64

In [ ]:
price.loc[:, price.dtypes==np.int64]

### 열 삭제

In [ ]:
#drop 사용

In [ ]:
price.drop(colum``ns=['지역코드']) #이렇게 한다고 원본이 바뀌는 건 아니다

In [ ]:
price.head() #지역코드 남아 있다, 원본이 바뀐건 아니다

In [ ]:
price=price.drop(columns=['지역코드']) # 이렇게 해야 원본이 바뀜

In [ ]:
price.rename(columns={'시도명':'시도', '시군구':'자치구'})

In [ ]:
price.columns

In [ ]:
price.columns=['아파트', '시도', '자치구', '법-정동', '지번', '거래일', '전용면적', '층', '거래금액']

In [ ]:
#위와 같이 전체 이름을 복사한 후 바꾸고 싶은 부분만 바꾸면 된다.

In [ ]:
price

### 열별 자료형 변환

In [ ]:
price['거래금액'].astype(float) # 컴마때문에 에러

In [ ]:
price['거래금액']=price['거래금액'].str.replace(pat=',', repl='')

In [ ]:
price['거래금액']=price['거래금액'].astype(float)

In [ ]:
price.dtypes #거래금액이 float로 변환

In [ ]:
price=price.astype({'거래일':np.datetime64, '층':float}) #거래일은 datetime64로 바꿔라 .. 층은 ....

In [ ]:
price.dtypes

In [ ]:
cols=['층', '거래금액'] #바꿀 열을 변수로 묶음

In [ ]:
cols

In [ ]:
price[cols]=price[cols].astype(int) #바꿀 묶은 변수를 한번에 변경

In [ ]:
price.dtypes

In [ ]:
# 시리즈.astype(class) --> 힌두개는 괘아느나 여러개이면 불편
# 데이터프레임.astype({'열이름':class, '열이름':class})
# 바꿀 열을 한 변수로 묶은 후 -->데이터프레임[열이름].astype(class)

In [ ]:
birth=pd.Series(data=['1983년 3월 31일'])
birth

In [ ]:
birth.astype(np.datetime64) #에러, 지금 넣은 문자열이 어떤 type인지 모르겠다

In [ ]:
birth=pd.to_datetime(birth, format='%Y년 %m월 %d일')

In [ ]:
birth

In [ ]:
birth.iloc[0]

In [ ]:
pd.Timestamp.today() #현재 시스템 날짜를 알려줌

In [ ]:
today=pd.Timestamp.today()

In [ ]:
dtGap=today-birth.iloc[0]

In [ ]:
dtGap.days #내가 태어나서 몇일 지났나

In [ ]:
price['거래일']

In [ ]:
price['거래일'].dt.year #년만 뽑아줌

In [ ]:
price['거래일'].dt.day #일만 뽑아줌

In [ ]:
price['거래일'].dt.day_name() #요일을 뽑아줌

In [ ]:
price['거래일'].dt.day_name('ko_KR')

In [ ]:
price

In [ ]:
df1=price[price['거래금액'] >= 1000000]

In [ ]:
df1

In [ ]:
df2=price[(price['거래금액'] <1000000) & (price['층']>=60)]
df2

In [ ]:
df2.loc[42124] #iloc하면 에러뜬다

In [ ]:
#191P
#gt : greater than / ge : 미만 / lt ....

In [ ]:
price['층'].gt(60).sum()

In [ ]:
price

In [ ]:
#P192
price

In [ ]:
price[(price['시군구'].eq('강남구'))|(price['시군구'].eq('은평구'))]

In [ ]:
price[price['시군구'].isin(['은평구','강남구','강동구'])]

In [ ]:
price[price['시군구'].str.contains('용')] # contain에 들어있는 글자를 포함한 것만 true, false

In [ ]:
addr=pd.Series(data=['서울특변시 강남구','경기도 성남시 분당구'])

In [ ]:
addr.str.split(pat=' ')

In [ ]:
addr.str.split(pat=' ', expand=True)

In [ ]:
addr.str.find('시')

In [ ]:
addr.str.replace(' ','')

In [ ]:
addr.str.slice(0,2)

In [ ]:
addr.str.extract('(.+시)')

### 행이름으로 행 삭제

In [ ]:
price.head()

In [ ]:
price.reset_index(drop=True)

In [ ]:
df1=price.set_index(keys='아파트')
df1

In [ ]:
df1.head()

In [ ]:
df1=df1.reset_index()

In [ ]:
df1.head()

### 결측값 처리

In [ ]:
#결측값 처리
# 1. 결측값 발생 패턴 : 무작위로 발생!
# 2. 처리 방법
#   - 원본을 찾아서 넣는다
#   - 단순 대체 : 평균, 중위수(이건하면 안됨)
#   - 결측 행 삭제 (주의사항 : 전체의 5% 미만일때 가능, 5%이상이면 편향(bias)가 발생)
#   - 다중 대체 : 회귀 추정을 여러번  -> 이를 평(mice라는 라이브러리로 할 수 있다)
# 강의에서는 단순대체와 행 삭제를 알려줌

In [ ]:
price.isna() #결측이 있는지 보여줌

In [ ]:
price.isnull() #isna랑 같은 값

In [ ]:
price.isna().sum()

In [ ]:
price['지번'].isna()

In [ ]:
price[price['지번'].isna()] #na인것만 뽑아줌

In [ ]:
price[price['지번'].isna()].fillna(value='0') #na값을 채우는 방법

In [ ]:
os.listdir()

In [ ]:
meanprice=pd.read_excel('APT_Mean_Price_Dong_2021.xlsx')

In [ ]:
meanprice

In [ ]:
# 엑셀에서 셀병합되어 있는 것은 nan으로 나온다

In [ ]:
meanprice.fillna(method='ffill')

### 결측값이 있는 행 삭제

In [ ]:
price

In [ ]:
price.dropna().shape[0]

In [ ]:
price[price['지번'].isna()].shape[0]

In [ ]:
price[price['지번'].notna()]

In [ ]:
price.shape[0]

In [ ]:
price=pd.read_excel('APT_Price_Seoul_2021.xlsx')

In [ ]:
price

In [ ]:
price['거래금액'].replace(',','')

In [ ]:
price['평당금액']=price['거래금액']/price['전용면적']*3.3

In [ ]:
price

In [ ]:
price=price[price['지번'].notna()]

In [ ]:
price

In [ ]:
price['평당금액']

In [ ]:
price['평당금액'].ge(5000)

In [ ]:
locs=price['평당금액'].ge(5000)

In [ ]:
price['금액 구분']=np.where(locs, '5천 이상', '5천 미만') #2개로 구간화할 때 유용한 함수 : where

In [ ]:
price

In [ ]:
import os
import chardet
import numpy as np
import pandas as pd
import joblib

In [ ]:
imsi=price.copy()

In [ ]:
imsi.loc[imsi['평당금액'].ge(5000), '금액구분2'] = '5천 이상'

In [ ]:
imsi.loc[imsi['평당금액'].lt(5000), '금액구분2'] = '5천 미만'

In [ ]:
imsi.head()

### 구간화 함수

In [ ]:
price=np.select(
    condlist=[price['평당금액'].ge(10000)]),
              price['평당금액'].ge(5000),
              price['평당금액'].lt(5000)],
    choicelist=['1억 이상', '5천 이상', '5천 미만'])

## 파생변수 생성: 문자형 변수 결합

In [ ]:
price.head()

In [ ]:
price['주소'] = price['아파트'] + ' ' + price['시도명'] + ' ' + price['시군구'] + ' ' + price['법정도']

In [ ]:
price.columns

In [ ]:
cols=['아파트', '시도명', '시군구', '지번']

In [ ]:
price[cols]

In [ ]:
price.loc[0, cols]

In [ ]:
' '.join(price.loc[0, cols])

In [ ]:
price[cols].apply(func=lambda x: ' '.join(x), axis=1) #apply 반복문 역할

In [ ]:
#map 은 반복이다

In [ ]:
price['아파트']#.map(arg=len) #len 문자열에서는 글자수, 리스트에서는 원소수

In [ ]:
price['아파트'].map(arg=len) #len 문자열에서는 글자수, 리스트에서는 원소수

In [ ]:
price[cols]

In [ ]:
price[cols].apply(len, axis=1)

In [ ]:
price[cols].apply(len, axis=0)

In [ ]:
price[cols].applymap(len)

In [ ]:
price['층'].sort_values()

In [ ]:
price['층'].sort_values(ascending=False) #내림차순

In [ ]:
price.sort_values(by=['층'])

In [ ]:
price.sort_values(by=['층'], ascending=False)

In [ ]:
price.sort_values(by=['층', '거래금액'], ascending=False)

In [ ]:
price.sort_values(by=['층', '거래금액'], ascending=[False,True])

### 집합함수로 데이터 요약(P209)

In [ ]:
price['거래금액'].count()

In [ ]:
price['거래금액'].mean()

In [ ]:
price['거래금액'].describe()

##### groupby

In [ ]:
price.groupby(by=['시군구']).count()

In [ ]:
price.groupby(by=['시군구'])['거래금액'].count() #groupby : 범주형으로 그룹을 묶어줌

In [ ]:
price.groupby(by=['시군구'])['거래금액'].describe()

In [ ]:
price['시군구'].unique()

In [ ]:
price['시군구'].nunique()

In [ ]:
price['시군구'].value_counts()

In [ ]:
price['시군구'].value_counts().sort_index()

In [ ]:
price['시군구'].value_counts(normalize=True)*100

### 야구

In [1]:
import os
import chardet
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'd:\\python\\PythonBasic-main\\live'

In [3]:
os.chdir('../data')

In [4]:
os.getcwd()

'd:\\python\\PythonBasic-main\\data'

In [5]:
os.listdir()

['APT_List_Seoul_2021.csv',
 'APT_List_Seoul_2021.xlsx',
 'APT_List_Seoul_2021.z',
 'APT_Mean_Price_Dong_2021.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2021.xlsx',
 'KBO_Hitters_2021.csv',
 'KBO_Hitters_2021.xlsx',
 'Naver_APT_Detail_Seoul.csv',
 'Naver_APT_Detail_Seoul.xlsx']

In [6]:
file='KBO_Hitters_2021.csv'

In [10]:
text=open(file=file, mode='rb').read()
chardet.detect(text)

{'encoding': 'EUC-KR', 'confidence': 0.6738816738816739, 'language': 'Korean'}

In [11]:
df=pd.read_csv(file, encoding='EUC-KR')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   선수명     300 non-null    object
 1   팀명      300 non-null    object
 2   경기      300 non-null    int64
 3   타석      300 non-null    int64
 4   타수      300 non-null    int64
 5   안타      300 non-null    int64
 6   홈런      300 non-null    int64
 7   득점      300 non-null    int64
 8   타점      300 non-null    int64
 9   볼넷      300 non-null    int64
 10  삼진      300 non-null    int64
 11  도루      300 non-null    int64
 12  BABIP   300 non-null    object
 13  타율      300 non-null    float64
 14  출루율     300 non-null    float64
 15  장타율     300 non-null    float64
 16  OPS     300 non-null    float64
 17  wOBA    300 non-null    float64
 18  WAR     300 non-null    float64
dtypes: float64(6), int64(10), object(3)
memory usage: 44.7+ KB

In [13]:
df.head()

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,홍창기,LG,144,651,524,172,4,103,52,109,95,23,0.393,0.328,0.456,0.408,0.864,0.412,7.10
1,이정후,Hero,123,544,464,167,7,78,84,62,37,10,0.373,0.360,0.438,0.522,0.960,0.429,7.06
2,강백호,KT,142,628,516,179,16,76,102,104,85,10,0.385,0.347,0.451,0.521,0.972,0.434,6.97
3,최정,SSG,134,555,436,121,35,92,100,84,102,8,0.277,0.278,0.410,0.562,0.972,0.425,6.83
4,양의지,NC,141,570,480,156,30,81,111,69,60,2,0.315,0.325,0.414,0.581,0.995,0.432,6.48

In [14]:
df.tail()

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
295,변상권,Hero,72,171,159,38,0,19,20,9,40,0,0.311,0.239,0.275,0.321,0.596,0.270,-0.76
296,예진원,Hero,52,132,114,18,1,16,8,12,28,0,0.198,0.158,0.248,0.254,0.502,0.241,-0.90
297,이원석,한화,43,130,114,20,1,12,9,8,43,4,0.264,0.175,0.238,0.228,0.466,0.224,-0.96
298,유장혁,한화,34,112,98,14,1,11,7,8,39,2,0.217,0.143,0.218,0.224,0.442,0.213,-0.96
299,임종찬,한화,42,146,131,20,1,9,8,12,49,0,0.235,0.153,0.229,0.214,0.443,0.217,-1.47

In [16]:
df.sort_values(by=['BABIP']).head() # - 게 있어서 BABIP이 object임

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
165,황경태,두산,1,1,1,0,0,0,0,0,1,0,-,0.0,0.0,0.0,0.0,0.0,-0.03
166,나원탁,롯데,1,1,1,0,0,0,0,0,1,0,-,0.0,0.0,0.0,0.0,0.0,-0.03
174,박성재,두산,1,1,1,0,0,0,0,0,1,0,-,0.0,0.0,0.0,0.0,0.0,-0.03
170,서진용(타),SSG,1,1,1,0,0,0,0,0,1,0,-,0.0,0.0,0.0,0.0,0.0,-0.03
171,오장한,NC,1,1,1,0,0,0,0,0,1,0,-,0.0,0.0,0.0,0.0,0.0,-0.03

In [28]:
df['BABIP']=df['BABIP'].str.replace('-','0')

AttributeError: Can only use .str accessor with string values!

In [19]:
df['BABIP']=df['BABIP'].astype(float)

In [25]:
df.dtypes

선수명       object
팀명        object
경기         int64
타석         int64
타수         int64
안타         int64
홈런         int64
득점         int64
타점         int64
볼넷         int64
삼진         int64
도루         int64
BABIP    float64
타율       float64
출루율      float64
장타율      float64
OPS      float64
wOBA     float64
WAR      float64
dtype: object

In [27]:
df.groupby(by=['팀명'])['선수명'].count()

팀명
Hero    30
KIA     30
KT      27
LG      31
NC      34
SSG     29
두산      28
롯데      30
삼성      27
한화      34
Name: 선수명, dtype: int64

In [31]:
df[df['타석'].ge(144*3.1)].groupby(by=['팀명'])['선수명'].count()

팀명
Hero    5
KIA     4
KT      6
LG      4
NC      4
SSG     6
두산      5
롯데      7
삼성      7
한화      4
Name: 선수명, dtype: int64

In [32]:
팀타수=df.groupby(by=['팀명'])['타수'].sum()
팀안타=df.groupby(by=['팀명'])['안타'].sum()
(팀안타/팀타수).sort_values(ascending=False)

팀명
롯데      0.278099
두산      0.268163
삼성      0.267163
KT      0.265281
SSG     0.260870
NC      0.260815
Hero    0.258925
LG      0.250105
KIA     0.247982
한화      0.237140
dtype: float64

In [40]:
df.groupby(by=['팀명'])['홈런'].mean().sort_values(ascending=False)

팀명
SSG     6.379310
NC      5.000000
삼성      4.925926
두산      3.928571
KT      3.925926
롯데      3.566667
LG      3.548387
Hero    3.033333
한화      2.352941
KIA     2.200000
Name: 홈런, dtype: float64

In [41]:
팀볼넷=df.groupby(by=['팀명'])['볼넷'].sum() #볼삼비
팀삼진=df.groupby(by=['팀명'])['삼진'].sum()
(팀볼넷/팀삼진).sort_values(ascending=False)

팀명
KIA     0.646037
LG      0.639309
KT      0.616046
삼성      0.604213
SSG     0.603791
롯데      0.597523
두산      0.593220
Hero    0.563981
한화      0.492224
NC      0.468435
dtype: float64